body {
    background: lightblue;
    background: linear-gradient(to top left, lightblue);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    border: 3px solid red;
    width: 580px;
}

.top {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 360px;
    border: 1px solid royalblue;
    padding: 1em;
    background-color: aquamarine
}

.all {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 360px;
    border: 2px dotted royalblue;
    background-color: white;
    padding: 1em;
}


.main {
    font-size: 16px;
}

a {
    text-decoration: none
}
a:hover { 
    text-decoration: underline;
    color: blueviolet;
   }


input:hover {
    outline: none;
}

input:focus {
    outline: none;
}

.button {
    padding: 2%;
    border: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.button:hover {
    opacity: 0.8;
}

.table1:hover {
    background-color: rebeccapurple;
}